*{
    background-color: rgb(245, 245, 245);
    font-family: Arial;
    

}

.todito {
    border: 1px solid;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    left: 20%;

    margi
}